:root {
  font-family: "DM Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

body {
  background: var(--background-color);
  font-family: "DM Sans", sans-serif;
  overflow-x: clip;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

.paragraph,
span,
button,
input,
textarea,
p,
label {
  color: #4b5563 ;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 390;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005c05 ;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 45px;
}

.subtitle {
  color: #5E738A ;
  font-family: "DM Sans", sans-serif;
  font-weight: 390;
  letter-spacing: 1.5px;
  line-height: 32px;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
